:root {
    --primary-clr: #f6f7fb;
    --secondary-clr: #fff;
    --dark-clr: #18191a;
    --red-clr: #e74c3c;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--primary-clr);
}

.wrapper .clock {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vw;
    width: 40vw;
    background-color: var(--secondary-clr);
    border-radius: 50%;
    box-shadow: 
    rgba(0, 0, 0, 0.19) 0px 10px 20px, 
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
    position: relative;
}

.clock span.outer {
    position: absolute;
    text-align: center;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    font-size: 2rem;
    transform: rotate(calc(var(--i) * (30deg)));
}
.inner {
    position: absolute; 
    text-align: center;
    margin-left: -9px;
    transform: rotate(calc(var(--i) * (-30deg)));
}
/* 1 * 30deg 
   2 * 30deg
*/

/* .clock span.outer:nth-child(1) {
     transform: rotate(30deg);
}
.clock span:nth-child(1) .inner {
    transform: rotate(-30deg);
}
.clock span:nth-child(2) {
     transform: rotate(60deg);
}
.clock span:nth-child(2) .inner {
    transform: rotate(-60deg);
}
.clock span:nth-child(3) {
     transform: rotate(90deg);
}
.clock span:nth-child(3) .inner {
    transform: rotate(-90deg);
}
.clock span:nth-child(4) {
     transform: rotate(120deg);
}
.clock span:nth-child(4) .inner {
    transform: rotate(-120deg);
}
.clock span:nth-child(5) {
     transform: rotate(150deg);
}
.clock span:nth-child(5) .inner {
    transform: rotate(-150deg);
}
.clock span:nth-child(6) {
     transform: rotate(180deg);
}
.clock span:nth-child(6) .inner {
    transform: rotate(-180deg);
}
.clock span:nth-child(7) {
     transform: rotate(210deg);
}
.clock span:nth-child(7) .inner {
    transform: rotate(-210deg);
}

.clock span:nth-child(8) {
     transform: rotate(240deg);
}
.clock span:nth-child(8) .inner {
    transform: rotate(-240deg);
}
.clock span:nth-child(9) {
     transform: rotate(270deg);
}
.clock span:nth-child(9) .inner {
    transform: rotate(-270deg);
}
.clock span:nth-child(10) {
     transform: rotate(300deg);
}
.clock span:nth-child(10) .inner {
    transform: rotate(-300deg);
}
.clock span:nth-child(11) {
     transform: rotate(330deg);
}
.clock span:nth-child(11) .inner {
    transform: rotate(-330deg);
} */
/* .clock span:nth-child(12) {
     transform: rotate(360deg);
}
.clock span:nth-child(12) .inner {
    transform: rotate(-360deg);
} */

.indicator {
    width: 1.2vw;
    height: 1.2vw;
    position: absolute;
    display: flex;
    justify-content: center;
}

.indicator::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border: 4px solid var(--red-clr);
    background-color: var(--dark-clr);
    border-radius: 50%;
    z-index: 6;
}

.hand {
    transform-origin:bottom;
    position: absolute;
    border-radius: 5px;
    background-color: var(--dark-clr);
    bottom: 0;
    z-index: 0;
}

.second {
    height: 13vw;
    width: .5vw;
    background-color: var(--red-clr);
    transform: rotate(150deg);
}

.minute {
    height: 11vw;
    width: .7vw;
    transform: rotate(120deg);
}

.hour {
    height: 9vw;
    width: 1vw;
}

.switch-button {
    margin-top: 20px;
    background-color: var(--dark-clr);
    color: var(--primary-clr);
    padding: 5px 10px;
    font-size: 2rem;
    border-radius: 20px;
    cursor: pointer;
}



